.button-bl{
    display: flex;
    justify-content: center; 
    margin: 3.07em 0em;
    margin-bottom: 0px;
}
.b-home{
    display: flex;
    justify-content: center; 
    background-color: #00a6f0;
    height: 48px;
    display: inline-flex;
    align-items: center;
    font-family: Roboto;

}
.button {
    color: white;
     min-width: 12.46154rem;
    line-height: 1.2;
    flex: 1 1 auto;
    justify-content: center;
    margin: 3.07692rem;
    text-align: center;
}