.button-bl{
    display: flex;
    justify-content: center; 
    margin-bottom: 0px;
    margin-top: 15px;
    list-style: none;
}
.b-home{
    display: flex;
    justify-content: center; 
    background-color: #00a6f0;
    height: 48px;
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    width: 36%;
    border-radius: 3%;

}
.button {
    color: white;
     min-width: 12.46154rem;
    line-height: 1.2;
    flex: 1 1 auto;
    justify-content: center;
    margin: 3.07692rem;
    text-align: center;
}
.b-home a{
  color: white;
 
}
.b-home a:hover{
  text-decoration: none;
}