
.category-item{
  list-style: none;
  
  flex: 1 1 16.66%;
  max-width: 16.66%;
  margin: 0;
  padding: .76923rem;
  text-align: center;
  margin-right: 10px;
}
.pic-category{
  display: flex;
  justify-content: center;
}
.list-box{
  display: flex;
}
.category-title span{
    font-family: "Roboto";
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.more{
  margin: 3.07692rem 0;
  text-align: center;
}
.more button{
  color: #00a6f0;
  text-decoration: underline;
  font-weight: 500;
}
.header-category h2{
text-align: center;
}
.category-wrapper{
  text-decoration: none;
}

.category-title{
  color: black;
}
.category-title:hover{
  color:#af67eb;
}
.category-block{
  margin-top: 50px;
}
