.category-item{
  text-align: center;

}
.category-title{
  color: black;

}
.category-title :hover{
  color: #af67eb;
  font-weight: bold;
  text-decoration: none;
  
}
.header-category h2{
  text-align: center;
}
.open-all {
  text-align: center;
}
.open-all:hover{
  font-weight: bold;
}
.category-wrapper span{
  text-decoration: none;
}
.row{
  justify-content:center;
  margin: 30px;
}
.category-wrapper:hover{
  text-decoration: none;
  font-weight: bold;
}