.content-project-page{
  font-family: "roboto";
}
.content li{
  list-style: none;
  text-decoration: none;
}
.content-project-page{
  width: 680px;
  margin-top: 20px;
}
.category-title {
  display: block;
  text-align: center;
}
#content-project{
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  border-radius: 5px;
  position: relative;
  
}
#project-header{
  text-align: center;
}

#project-header h1{
  padding: 25px 15px 0;
  line-height: 45px;
  height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.2em;
}
#project-header p{
  margin: 10px 1em 1em;
  line-height: 1.618;
  font-size: 1.2em;
}
#project-nav{
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.active a{
  text-decoration: none;
  margin-right: 40px;

}
#project-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  margin: 0px;
}
#project-menu a {
  display: block;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background: #eee;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
}

#project-menu li.active a {
  color: #525252;
  background: #fff;
    
}
#project-menu i {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 2px;
}
#project-menu li.active a:hover{
  color:#af67eb;
}


#project-content .content-section {
  min-height: 500px;
}
#project-media {
  position: relative;
  margin-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}
iframe{
  width: 100%;
}
#project-media .media-content {
  margin: 0 auto;
  width: 640px;
  position: relative;
}
#project-media .layer {
  display: block;
  height: 100%;
  line-height: 360px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#project-presentation .description {
  margin-top: 20px;
  margin-bottom: 20px;
}
.media-content{
  width:560px;
  height:315px;
}
.tags a{
  text-decoration: none;
  color: black;
}
.tags a:hover{
  color: #af67eb;
}
.tags li{
  display: inline;
  margin: 5px;
}
.project-discription h3{
  display: inline;
}
.tags{
  padding: 0px;
  margin: 15px;
  display: inline;
}
.from-editor{
  border-top: 1px solid #ddd;
}
.from-editor-content{
  margin: 25px;

}
.from-editor-content img{
  width: 100%;
}
.pic-of img{
  text-align: center;
}

#project-menu li{
  display: flex;
}
#project-menu li img{
  height: 30px;
  padding-top:5px;
}

.mini-box img{
  height: 16px;
}
.mini-box h3 {
  padding-left: 20px;
  text-decoration: none;
  color: black;
}
.mini-box a:hover{
  color: #af67eb;
}
.mini-box a {
  padding-left: 20px;
  text-decoration: none;
  color: purple;
}
.mini-box{
  padding: 10px;
}

#project-sharing {
  position: absolute;
  text-align: center;
  width: 40px;
  left: -43px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}
#project-sharing a{
 
  display: inline-block;
  line-height: 40px;
  width: 22px;
  text-align: center;
  color: grey;
  cursor: default;
  transition: color .1s;

}
#project-sharing :hover{
  color:#af67eb;
}

.sidebar-right{
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px;
  min-width: 20%;
  margin-top:11%;
}
.timeleft_hover{
  border: 1px solid #ddd;
  background-color: #ddd;
  margin-top: 19px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 17px;
}
#author{
  margin-top: 11%;
  right: 90px;
  top: 385px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px;
  min-width: 20%;
}
.collected{
  padding-left: 55px;
  padding-top: 15px;
}
.required{
  padding-left: 55px;

}
.progress-summ{
  padding: 10px;
}
.progressbar{
  width: 60px;
}
.contribute{
 color: white;
 font-size: 20px;
  background: linear-gradient(#00a6f0,#009fe6);
  box-shadow: 0 3px 0 #00608b;
  text-transform: none;
  width: 86%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contribute:hover{
  text-decoration: none;
  color: white;

}
#js-between-button{
  padding:10px;
}