.Wrapper{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: fixed;
  top: 0px;
  left: -20px;
  z-index: 1;
}

.ListBox li{
  list-style-type:none;
  padding: 20px 10px 20px 10px;
  font-weight: bold;
}
.ListBox a{
  text-decoration: none;
  color: black;
}

.ListBox a:hover{
  color: #af67eb;
  font-weight: bold;
}
button{
  background-color: white;
  border: none;
  outline-color: white;
  font-size: 17px;
  margin-top:-5px;
}
.CloseButton button{
  padding-left: 25px;
  padding-top: 23px;
} 

.button-text{
  font-family:  "Roboto";
  margin: 0px; 
}
.button-text img{
  width: 10px;
  height: 11px;
}

.button-text a{
  padding: 3px;
}
.linksWrapper{
  padding: 5px;
  padding-top: 20px;
}